html {
  font-family: "DejaVu Sans", Verdana, sans-serif;
  font-size: 10.5pt;
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  padding: 0 0 2rem;
  margin: 0 0 -2rem;
  background-color: #222A2A;
  color: #FFFFFF;
}

img {
  border: none;
}

* { font-family: inherit; }

body > * {
  width: 65rem;
}

.container {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0.5rem solid transparent;
  border-color: rgba(255, 255, 255, 0.063);
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

body > *, form.search > div {
  margin: 1rem auto;
  padding: 0.5rem;

  background: transparent;
  background: rgba(255,255,255,0.25);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.333), rgba(255,255,255,0.1));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.333), rgba(255,255,255,0.1));
  background: -o-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.333), rgba(255,255,255,0.1));
  background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.333), rgba(255,255,255,0.1));

  border-radius: 0.5em;
}
article > *, footer > *, form.search fieldset {
  background: #222222;
}

form.search {
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 2.4rem !important; /* alignment with 'stats' in logo */
}

form.search fieldset {
  padding: 0.5rem;
  border: 0.25rem solid transparent;
  border-color: rgba(255, 255, 255, 0.063);
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

body > header {
  background: none;
  margin: 0px auto;
  padding: 0px 0.5rem;
}

body > header h1 {
  background: none;
  padding: 1rem;
}

/* server name alignment */
body > header h1 img {
  margin-bottom: -2rem;
}
#serverName {
  float: right;
  margin-top: -2rem;
  width: 48rem;
}

form.search fieldset label {
  vertical-align: middle;
}

form.search fieldset input[type="text"] {
  width: 15em;
}

input {
  color: white;
}

input:hover {
  color: #88FFFF;
}

input:not([type="submit"]):not([type="button"]), textarea {
  background: #151515;
  border: 2px solid grey;
  border-radius: 2px;
  margin-bottom: 0.25rem;
}

input[type="submit"], input[type="button"] {
  border: none;
  background: #444444;
  background: -moz-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  white-space: normal;
  position: relative;
}
input[type="submit"]:active, input[type="button"]:active {
  top: 0.125rem;
  left: 0.125rem;
}

a:link:hover, a:active, input[type="submit"]:hover, input[type="button"]:hover {
  text-decoration: underline;
  -moz-text-decoration-color: #0088CC !important;
  -webkit-text-decoration-color: #0088CC !important;
  -o-text-decoration-color: #0088CC !important;
  -ms-text-decoration-color: #0088CC !important;
}

a:link, a:visited {
  text-decoration: none;
}

a:active, a:link, a:visited, a:hover {
  color: #9FFFFF;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

sup.too {
  font-size: 0.5em;
  font-weight: normal;
  color: #9F9F9F;
}

span.for {
  font-size: 0.5em;
  font-weight: normal;
  vertical-align: baseline;
}

nav {
  clear: both;
  font-variant: small-caps;
  padding: 0px;
}

nav > div {
  display: table;
  width: 100%;
  padding: 0px;
  border-spacing: 0.5rem;
  border-collapse: separate;
  background: none;
}
nav > div + div {
  margin-top: -0.5rem;
}
nav ul {
  display: table-row;
}
nav li {
  display: table-cell;
  text-align: center;
  list-style-type: none;

  background: #444444;
  background: -moz-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #4C4C4C 0%, #3B3B3B 100%) repeat scroll 0 0 transparent;

  border: 0.25rem solid #222222;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  margin: 0.25rem;
  padding: 0.25rem;
}

#currentPage {
  background: #222222;
  background: -moz-linear-gradient(top, #191919 0%, #2A2A2A 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top, #191919 0%, #2A2A2A 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(top, #191919 0%, #2A2A2A 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(top, #191919 0%, #2A2A2A 100%) repeat scroll 0 0 transparent;
  border-color: #111111;
}

nav li a {
  display: block;
  margin: -0.5rem;
  padding: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
}
nav li a:hover, nav li a:active {
  color: cyan;
}

footer {
  text-align: right;
}

#footer_time {
  font-size: 0.8em;
  float: left;
  color: #9F9F9F;
}

#footer_release {
  font-size: 1em;
}

#footer_credits {
  font-size: 0.8em;
}

h2 {
  margin: 0 0 1em 0;
  padding: 0;
}

table {
  width: 100%;
  clear: both;
  margin-bottom: 1.5rem;

  border-spacing: 0;
  border-collapse: collapse;
}

table.legend {
  width: 20%;
  margin-left: auto;
  margin-right: 0;
}

table.legend td.a {
  background-color: #CC0000;
  color: #FFFFFF;
}

table.legend td.b {
  background-color: #888888;
  color: #000000;
}

table.legend td.c {
  background-color: #0055FF;
  color: #FFFFFF;
}

tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.125);
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.0625);
}

th, td {
  padding: 1px 3px;
  border: 1px solid black;
}

thead th {
  text-align: left;
  background: url(images/bar.png) #444444;
}

tbody th {
  text-align: left;
  font-weight: normal;
}

tbody.padded td {
  padding: 1em;
}

/*
tr td {
  background-color: #22262a;
}
*/

tr.spacer {
  height: 1rem;
}
tr.spacer * { display: none; }

tr.list:hover {
  background-color: #32363a;
}

td.quote_public {
  color: #00FF00;
}

td.quote_team {
  color: #00FFFF;
}

span.playername, span.playername *, td.playername, td.playername * {
  color: #FFFFFF;
}

td.playername {
  overflow: hidden;
}

td.playerothernames {
  vertical-align: top;
}

span.quakecolor_0, span.quakecolor_black   { color: #000000; }
span.quakecolor_1, span.quakecolor_red     { color: #FF0000; }
span.quakecolor_2, span.quakecolor_green   { color: #00FF00; }
span.quakecolor_3, span.quakecolor_yellow  { color: #FFFF00; }
span.quakecolor_4, span.quakecolor_blue    { color: #0000FF; }
span.quakecolor_5, span.quakecolor_cyan    { color: #00FFFF; }
span.quakecolor_6, span.quakecolor_magenta { color: #FF00FF; }
span.quakecolor_7, span.quakecolor_white   { color: #FFFFFF; }
span.quakecolor_8  { color: #ff7f00; }
span.quakecolor_9  { color: #7f7f7f; }
span.quakecolor_10 { color: #bfbfbf; }
span.quakecolor_11 { color: #bfbfbf; }
span.quakecolor_12 { color: #007f00; }
span.quakecolor_13 { color: #7f7f00; }
span.quakecolor_14 { color: #00007f; }
span.quakecolor_15 { color: #7f0000; }
span.quakecolor_16 { color: #7f3f00; }
span.quakecolor_17 { color: #ff9919; }
span.quakecolor_18 { color: #007f7f; }
span.quakecolor_19 { color: #7f007f; }
span.quakecolor_20 { color: #007fff; }
span.quakecolor_21 { color: #7f00ff; }
span.quakecolor_22 { color: #3399cc; }
span.quakecolor_23 { color: #ccffcc; }
span.quakecolor_24 { color: #006633; }
span.quakecolor_25 { color: #ff0033; }
span.quakecolor_26 { color: #b21919; }
span.quakecolor_27 { color: #993300; }
span.quakecolor_28 { color: #cc9933; }
span.quakecolor_29 { color: #999933; }
span.quakecolor_30 { color: #ffffbf; }
span.quakecolor_31 { color: #ffff7f; }

span.bot { font-style: italic; }

div.update {
  text-align: right;
}

article header h2 {
  width: 100%;
  text-align: left;
}

article header .headinglink {
  float: right;
  margin-top: -2.75rem;
}

div.filter {
  width: 100%;
  text-align: right;
}

div.privacy {
  width: 60%;
  margin: 0 auto 0.5em auto;
  text-align: center;
  color: #FF0000;
}

table.mapbalance {
  table-layout: fixed;
}
table.mapbalance col.item {
  width: auto;
}
table.mapbalance col.balancebar {
  width: 410px;
}
table.mapbalance col.data {
  width: 10%;
}

col.id {
  width: 8%;
}

col.data {
  width: 10%;
}

col.datamore {
  width: 12%;
}

col.datawide {
  width: 14%;
}

col.datadouble {
  width: 24%;
}

col.item {
  width: 20%;
}

col.playername {
  width: 30%;
}

col.playernamewide {
  width: 35%;
}

col.weaponicon {
  width: 42px;
}

col.levelshot {
  width: 266px;
}

col.chart {
  width: 210px;
}

col.balancebar {
  width: 410px;
}

td.levelshot {
  text-align: center;
  vertical-align: middle;
}

img.levelshot {
  max-height: 144px;
  max-width: 256px;
  border: 0px;
}

input.sig {
  background-color: #22262a;
  border-top: 1px solid #040505;
  border-left: 1px solid #040505;
  border-bottom: 1px solid #57616b;
  border-right: 1px solid #57616b;
}

span.tooltip {
    border-bottom: 1px dashed gray;
    cursor: help;
}

.n-a {
    color: #888;
    text-align: center;
    font-size: smaller;
}
.n-a:before {
    content: "N/A";
}
